*
!Library/
!Library/Application Support/
!Library/Application Support/Sublime Text 2/
!Library/Application Support/Sublime Text 2/Packages/
!Library/Application Support/Sublime Text 2/Packages/User/
!Library/Preferences/
